Repository Jing5s/Carrier_Web, pull requests merged in 2025-03, with the labels that each got.

#110 프로필 사진 변경 & 설문조사 중복 방지
  src/app/routes.tsx
  src/entities/user/contexts/user.ts
  src/entities/user/types/IUser.ts
  src/features/Setting/EditContainer/index.tsx
  src/features/user/services/user.api.ts
  src/features/user/services/user.mutation.ts
  src/pages/Setting/index.tsx
  src/pages/Survey/index.tsx
Labels: 📬 API, ✨ Feature

#107 일기 퍼블리싱 및 api 연결
  package.json
  pnpm-lock.yaml
  src/features/Mail/Sidebar/style.css.ts
  src/features/diary/Chatbar/index.tsx
  src/features/diary/Chatbar/style.css.ts
  src/features/diary/Content/index.tsx
  src/features/diary/Content/style.css.ts
  src/features/diary/NavigationBar/index.tsx
  src/features/diary/NavigationBar/style.css.ts
  src/features/diary/ReadContent/index.tsx
  src/features/diary/ReadContent/style.css.ts
  src/features/diary/constants/emojiCategories.ts
  src/features/diary/hooks/useDiaryData.ts
  src/features/diary/services/diary.api.ts
  src/features/diary/services/diary.keys.ts
  src/features/diary/services/diary.mutation.ts
  src/features/diary/services/diary.query.ts
  src/pages/Diary/index.tsx
  src/pages/Diary/style.css.ts
  src/shared/styles/theme.css.ts
Labels: 🔨 Refactor, 📬 API, ✨ Feature

#123 앱 다운로드 기능
  package.json
  pnpm-lock.yaml
  src/app/routes.tsx
  src/features/user/hooks/useUser.ts
  src/pages/Login/index.tsx
  src/pages/Login/style.css.ts
  src/pages/Login/ui/Download.tsx
  src/pages/Login/utils/getDownloadUrl.ts
  src/pages/OAuth/app/index.tsx
  src/pages/OAuth/app/style.css.ts
  src/pages/OAuth/web/index.tsx
  src/pages/OAuth/web/style.css.ts
  src/shared/lib/storage/index.ts
Labels: ✨ Feature, 🌏 Deploy
